scripts/__pycache__/*
scripts/osquery/__pycache__/*
config/test.json
scripts/cloudquery/__pycache__/*
config/s11_nodes.json
config/sdev2_nodes.json
publish_practice/*
scripts/cloudquery/expected_logs/*
atlassian_api/use_publish.py
atlassian_api/__pycache__
scripts/kubequery/__pycache__
raghava_env/*
raghava_venv/*
.DS_Store
scripts/osquery/testinputfiles/*
logs/*
scripts/logs/*
scripts/api_load.csv
scripts/use_osquery_accuracy.py
scripts/pymongo_testing.py