{% extends "layout.html" %}
{% block content%}
    <div class="container">
        <h1 class="mb-4 text-center"><i class="bi bi-clipboard-data-fill"></i>
            Generate Performance Load Report
        </h1>
        <form id="inputForm" class="border p-4 shadow rounded">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="loadtype">Load Type:</label>
                    <select class="form-control req-for-view-report" id="loadtype" name="loadtype" required>
                        <option value="">Select Load Type</option>
                    </select>
                    <div class="error-message"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="loadname">Load Name:</label>
                    <select class="form-control req-for-view-report" id="loadname" name="loadname" required>
                        <option value="">Select Load Name</option>
                    </select>
                    <div class="error-message"></div>
                </div>
            </div>

            
            <div id="fieldsContainer">
                <!-- Initial set of 'sprint' and 'run' fields will be added here -->
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info col-md-3" onclick="addSprintRunFields()">Add new sprint-run group &nbsp;<i class="fa-solid fa-circle-plus"></i></button>
            </div>
            <br>
        

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="url">Confluence URL:</label>
                    <input type="text" class="form-control" id="url" name="url" value="https://uptycsjira.atlassian.net" placeholder="Enter URL" required>
                    <div class="error-message"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="email_address">Email Address:</label>
                    <input type="email" class="form-control" id="email_address" name="email_address" value="@uptycs.com" placeholder="Enter your email" required>
                    <div class="error-message"></div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="space">Space:</label>
                    <input type="text" class="form-control" id="space" name="space" value="PERF" placeholder="Enter space" required>
                    <div class="error-message"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="api_key">API Key:</label>
                    <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Enter API key" required>
                    <div class="error-message"></div>
                </div>
            </div>
        


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="parent_page_title">Parent Page Title:</label>
                    <input type="text" class="form-control" id="parent_page_title" name="parent_page_title" placeholder="Enter parent page title" required>
                    <div class="error-message"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="report_title">Report Title:</label>
                    <input type="text" class="form-control" id="report_title" name="report_title" placeholder="Enter report title" required>
                    <div class="error-message"></div>
                </div>
            </div>
            
            
            <div class="form-row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" onclick="validateViewReport()">
                        View Report <i class="fa-solid fa-eye"></i>
                    </button>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-block" onclick="validatePublishForm()">
                        Publish to Confluence <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>

            
        </form>
    </div>

    <div class="container mt-5 mb-3 pb-5 rounded">
        <div class="d-flex align-items-center justify-content-center">
            <!-- Logs Text -->
            <h4 class="text-center mr-3"><i class="bi bi-terminal-fill"></i> Logs</h4>
    
            <!-- Loading Animation -->
            <div id="logs_loadingAnimation" style="display: none;">
                <button class="btn btn-primary mb-2" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Publishing ...
                </button>
            </div>
        </div>
    
        <div id="logWindow" class="rounded p-3 mb-5 pb-5 bg-light code-window">
            // Logs will be displayed here during the report publishing process 
            <br>
        </div>
    </div>
    

    <div class="pb-3 rounded container-fluid">
        <div class="row">
            <div class="col-md-2 d-flex  rounded align-items-center justify-content-center">
                <!-- <h5 class="text-center mt-1 mr-3"><i class="fa-solid fa-list"></i>  Contents </h5> -->
            </div>

            <div class="d-flex align-items-center justify-content-center col-md-9">
                <h3 class="text-center mt-1 mr-3"><i class="fas fa-file-alt"></i> View Report</h3>
        
                <!-- Loading Animation -->
                <div id="report_loadingAnimation" style="display: none;">
                    <button class="btn btn-primary mb-1" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Generating ...
                    </button>
                </div>
            </div>
        </div>
        
        <!-- <div id="ReportWindow" class="rounded  shadow">
            <p class="text-center">Report will be displayed here after clicking 'View Report' Button</p>
        </div> -->

        <div class="row">
            <div id="contents" class="contents col-md-2 rounded">
                <h5 id="contents_heading" class="text-center btn disabled"><i class="fa-solid fa-list"></i>  Contents </h5>
            </div>
            <div id="ReportWindow" class="rounded shadow col-md-9">
                <p class="text-center">Report will be displayed here after clicking 'View Report' Button</p>
            </div>
        </div>


    </div>

    <div id="report_loadingAnimation_bottom" style="display: none; text-align: center;">
        <button class="btn btn-primary mb-1" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>

    


    <button class="btn btn-primary back-to-top" id="scroll_up"  onclick="scrollToBlock('ReportWindow')">
        <i class="fas fa-arrow-up"></i>
    </button>
    
    <button class="btn btn-primary " id="scroll_through_report_slowly" onclick="toggleScroll()" >
        <i class="fas fa-arrow-down"></i>
    </button>

{%endblock content%}