{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/simulator.css') }}">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5"></div>
        <div class="col-md-6 mb-2 d-flex align-items-center justify-content-between">
            <!-- Span at the extreme left -->
            <span class="text-left" id="active_count_id">
                <!-- <i class="fa-solid fa-circle fa-2xs" style="color: green;"></i>
                <span style="font-weight: 700; font-size: medium; color: rgb(0, 162, 0);">100</span>
                <span style="font-size: 16px; color: #888;">/</span>
                <span style="font-weight: 900; font-size: small;">200</span> 
                <span class="text-muted" style="font-size: 12px;">Simulators Online</span> -->
            </span>
            
            <!-- Small text at the center -->
            <div class="flex-grow-1 text-center">
                <!-- <small >View all simulator instances here</small> -->
            </div>
        </div>
        
    </div>
    

    <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5 class="text-center">
                <i class="fa-solid fa-sliders fa-sm"></i>  View and Update simulator parameters for Osquery Load
            </h5>
        </div>
        
        
        <div class="col-md-6 d-flex ">
            
            <div class="row w-100 justify-content-around ">
                <!-- Refresh Button -->
                <div class="card mb-2 mr-2 flex-grow-1 text-center">
                    <button id="main-refresh" style="font-size: 13px;" class="btn btn-info btn-sm main-refresh">
                        <i class="fa-solid fa-arrows-rotate fa-sm"></i> Refresh Data 
                    </button>
                </div>
                <!-- Kill All Assets Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-danger btn-block btn-sm" id="kill_assets_button">
                        <i class="fa-solid fa-skull-crossbones fa-sm"></i> Kill All Assets
                    </button>
                </div>
                <!-- Enroll Assets Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-primary btn-block btn-sm" id="enroll_assets_button">
                        <i class="fa-solid fa-user-plus fa-sm"></i> Enroll Assets
                    </button>
                </div>
                <!-- Start Load Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-success btn-block btn-sm" id="start_load_button">
                        <i class="fa-solid fa-play fa-sm"></i> Start Load
                    </button>
                </div>
            </div>
        </div>
        
            
    </div>
    

    <div class="row">
        <div class="col-md-1 border"></div>
        <div class="col-md-5 border rounded" >            
            <form id="SimulatorForm" class="p-4 border rounded custom-forms" style="background-color: rgb(255, 255, 255);">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="stack">
                            <i class="fas fa-layer-group"></i> Stack:
                        </label>
                        <select class="form-control req-for-view-report" id="stack_json_file" name="stack_json_file" required>
                            <option value="">Select Stack</option>
                            {% for stack in stack_json_options %}
                                <option value="{{ stack }}">{{ stack }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="loadname">
                            <i class="fas fa-truck-loading"></i> Load Name:
                        </label>
                        <select class="form-control req-for-view-report" id="loadname" name="loadname" required>
                            <option value="">Select Load Name</option>
                            {% for loadname in load_name_options %}
                                <option value="{{ loadname }}">{{ loadname }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="num_customers">
                            <i class="fas fa-users"></i> Number of Customers to send load from:
                        </label>
                        <input type="number" class="form-control" id="num_customers" name="num_customers" value="100" placeholder="Enter Number of Customers" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="total_number_of_assets">
                            <i class="fas fa-boxes"></i> Total Number of Assets to Enroll:
                        </label>
                        <input type="number" class="form-control" id="total_number_of_assets" name="total_number_of_assets" value="10000" placeholder="Enter Total Number of Assets" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_x_customer_percentage">
                            <i class="fas fa-percentage"></i> First X% of customers:
                        </label>
                        <br> Select X = <output id="first_x_customer_percentage_sliderValue">50</output>
                        <input type="range" class="form-range form-control ms-2" value="50" min="10" max="90" step="10" id="first_x_customer_percentage" name="first_x_customer_percentage" oninput="updateSliderValue_first_x_customer_percentage(this.value)">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="load_percentage_for_first_x_percent_customers">
                            <i class="fas fa-weight-hanging"></i> Gets Y% of total load:
                        </label>
                        <br> Select Y = <output id="load_percentage_for_first_x_percent_customers_sliderValue">50</output>
                        <input type="range" class="form-range form-control ms-2" value="50" min="10" max="90" step="10" id="load_percentage_for_first_x_percent_customers" name="load_percentage_for_first_x_percent_customers" oninput="updateSliderValue_load_percentage_for_first_x_percent_customers(this.value)">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="endline">
                            <i class="fas fa-stopwatch"></i> Endline (endline x2 = Load Duration in sec):
                        </label>
                        <input type="number" class="form-control" id="endline" name="endline" placeholder="Enter endline" min="0" required value="18000" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputfile">
                            <i class="fas fa-file-alt"></i> Input File:
                        </label>
                        <input type="text" class="form-control" id="inputfile" name="inputfile" placeholder="Enter input file" min="0" required value="rhel7-6tab_12rec.log">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="px-2 row d-flex justify-content-center align-items-center" style="height: 100%;">
                    <div class="col-md-4 text-center">
                        <button type="button" style="font-size: 13px;" class="btn btn-info btn-sm btn-block" id="update_sim_params_button">
                            <i class="fas fa-sliders-h"></i> Update Params  
                        </button>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="col-md-6  border d-flex" id="simulator-grid">
            <div class="row">
                <div class="card mb-2 mr-2 simulator_card offline">
                    <div class="loading-bar"></div>
                    <button class="position-absolute btn btn-sm btn-primary refresh-btn"><i class="fa-solid fa-arrows-rotate fa-xs"></i></button>
                    <div class="text-center">
                        <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                        <span class="online_status"><i class="fa-solid fa-circle  mx-1 pt-1" style="color: green;"></i><span class="status-text">Online</span></span>
                    </div>

                    <div class="pt-2 text-center">
                        <h6 class="card-title"><i class="fa-solid fa-desktop fa-xs"></i> masabathularao-mac</h6>
                        <div class="table-container"><div class="container"><div class="row"><div class="simulator_sub_cards col rounded py-2 text-center bg-light position-relative">
                    <h5 class="text-primary mb-1">0</h5>

                    <small class="text-muted" style="font-size: 8px;">assets to enroll</small>
                </div><div class="simulator_sub_cards col rounded py-2 text-center bg-light position-relative">
                    <h5 class="text-primary mb-1">18000</h5>
                    <small class="text-muted" style="font-size: 8px;">endline</small>
                </div></div><div class="row"><div class="simulator_sub_cards col rounded py-2 text-center bg-light position-relative">
                    <h6 class="text-primary mb-1">rhel7-6tab_12rec.log</h6>
                    <small class="text-muted" style="font-size: 8px;">inputfile</small>
                </div></div></div><table class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                    <thead>
                        <tr>
                            <th class="sortable" data-column="" data-order="desc">domain</th>
                            <th class="sortable" data-column="" data-order="desc">count</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                            <td>jupiter6</td>
                            <td>10</td>
                        </tr>
                    
                        <tr>
                            <td>jupiter8</td>
                            <td>10</td>
                        </tr>
                    </tbody></table>
                    
                    <table class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                    <thead>
                        <tr>
                            <th class="sortable" data-column="" data-order="desc">process</th>
                            <th class="sortable" data-column="" data-order="desc">instances</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                            <td>endpointsim</td>
                            <td>0</td>
                        </tr>
                    
                        <tr>
                            <td>node</td>
                            <td>0</td>
                        </tr>
                    </tbody></table></div>
                    </div>
                </div>
        
                <div class="card mb-2 mr-2 simulator_card online">
                    <div class="loading-bar"></div>
                    <button class="position-absolute btn btn-sm btn-primary refresh-btn"><i class="fa-solid fa-arrows-rotate fa-xs"></i></button>
                    <div class="text-center">
                        <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                        <span class="online_status"><i class="fa-solid fa-circle  mx-1 pt-1" style="color: green;"></i><span class="status-text">Online</span></span>
                    </div>

                    <div class="pt-2 text-center">
                        <h6 class="card-title"><i class="fa-solid fa-desktop fa-xs"></i> s1sim1a </h6>
                        <div class="table-container"></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

<script src="{{ url_for('static', filename='js/simulator.js') }}"></script>

<script>
    function updateSliderValue_first_x_customer_percentage(value) {
        document.getElementById('first_x_customer_percentage_sliderValue').textContent = value;
    }
    function updateSliderValue_load_percentage_for_first_x_percent_customers(value) {
        document.getElementById('load_percentage_for_first_x_percent_customers_sliderValue').textContent = value;
    }

</script>

{% endblock content %}

