{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/simulator.css') }}">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5"></div>
        <div class="col-md-3 mb-2 d-flex align-items-center justify-content-between">
            <!-- Span at the extreme left -->
            <span class="text-left" id="active_count_id">
                <!-- <i class="fa-solid fa-circle fa-2xs" style="color: green;"></i>
                <span style="font-weight: 700; font-size: medium; color: rgb(0, 162, 0);">100</span>
                <span style="font-size: 16px; color: #888;">/</span>
                <span style="font-weight: 900; font-size: small;">200</span> 
                <span class="text-muted" style="font-size: 12px;">Simulators Online</span> -->
            </span>

            <span class="text-left" id="selected_count_id">
                <!-- <i class="fa-solid fa-check" style="color: rgb(19, 15, 255);"></i>
                <span id="checkbox-counter" style="font-weight: 700; font-size: medium; color: rgb(23, 42, 255);">0</span>
                <span class="text-muted" style="font-size: 12px;"> Simulators Selected</span> -->
            </span>
            <div class="text-center" id="simulators_loading_animation" style=" display: none;">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
            </div>
            
        </div>
        
        
    </div>
    

    <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5 class="text-center">
                <i class="fa-solid fa-sliders fa-sm"></i>  View and Update simulator parameters for Osquery Load
            </h5>
        </div>
        
        
        <div class="col-md-6 d-flex ">
            
            <div class="row w-100 justify-content-around ">
                <div class="card mb-2 mr-2 text-center">
                    <button style="font-size: 13px;border-color: #000000;" class="btn btn-uptycs btn-sm" id="select_deselect">
                        <i class="fa-solid fa-check"></i>
                        Select all            
                    </button>
                </div>
                
                <div class="card mb-2 mr-2 flex-grow-1 text-center">
                    <button style="font-size: 13px;" class="btn btn-dark btn-sm" id="pull_latest_code_btn">
                        <i class="fa-brands fa-github  fa-sm"></i> Pull latest code 
                    </button>
                </div>
                <div class="card mb-2 mr-2 flex-grow-1 text-center">
                    <button style="font-size: 13px; background-color: rgb(226, 116, 21); color: white;" class="btn btn-sm" id="toggle_cpu_charts">
                      <i class="fa-solid fa-chart-line"></i> CPU stats
                    </button>
                </div>
                <div class="card mb-2 mr-2 flex-grow-1 text-center">
                    <button id="main-refresh" style="font-size: 13px;" class="btn btn-info btn-sm">
                        <i class="fa-solid fa-arrows-rotate fa-sm"></i> Refresh
                    </button>
                </div>
                
                <!-- Kill All Assets Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-danger btn-block btn-sm" id="kill_assets_button">
                        <i class="fa-solid fa-skull-crossbones fa-sm"></i> Kill Instances
                    </button>
                </div>
                <!-- Enroll Assets Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-primary btn-block btn-sm" id="enroll_assets_button">
                        <i class="fa-solid fa-user-plus fa-sm"></i> Enroll Assets
                    </button>
                </div>
                <!-- Start Load Button -->
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-success btn-block btn-sm" id="start_load_button">
                        <i class="fa-solid fa-play fa-sm"></i> Start Load
                    </button>
                </div>
                <div class="card mb-2  mr-2 flex-grow-1 text-center">
                    <button type="button" style="font-size: 13px;" class="btn btn-warning btn-block btn-sm" id="stop_load_button">
                        <i class="fa-solid fa-stop"></i> Stop Load
                    </button>
                </div>
            </div>
        </div>
        
            
    </div>
    

    <div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-5  rounded" >            
            <form id="SimulatorForm" class="p-4 rounded custom-forms" style="background-color: rgb(255, 255, 255);">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="stack">
                            <i class="fas fa-layer-group"></i> Stack:
                        </label>
                        <select class="form-control req-for-view-report" id="stack_json_file" name="stack_json_file" required>
                            <option value="">Select Stack</option>
                            {% for stack in stack_json_options %}
                                <option value="{{ stack }}">{{ stack }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="loadname">
                            <i class="fas fa-truck-loading"></i> Load Type:
                        </label>
                        <select class="form-control req-for-view-report" id="loadname" name="loadname" required>
                            <option value="">Select Load Type</option>
                            {% for loadname in load_name_options %}
                                <option value="{{ loadname }}">{{ loadname }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="num_customers">
                            <i class="fas fa-users"></i> Number of Customers to send load from:
                        </label>
                        <input type="number" class="form-control" id="num_customers" name="num_customers" value="100" placeholder="Enter Number of Customers" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="total_number_of_assets">
                            <i class="fas fa-boxes"></i> Total Number of Assets to Simulate:
                        </label>
                        <input type="number" class="form-control" id="total_number_of_assets" name="total_number_of_assets" value="10000" placeholder="Enter Total Number of Assets" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_x_customer_percentage">
                            <i class="fas fa-percentage"></i> First X% of customers:
                        </label>
                        <br> Select X = <output id="first_x_customer_percentage_sliderValue">50</output>
                        <input type="range" class="form-range form-control ms-2" value="50" min="10" max="90" step="10" id="first_x_customer_percentage" name="first_x_customer_percentage" oninput="updateSliderValue_first_x_customer_percentage(this.value)">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="load_percentage_for_first_x_percent_customers">
                            <i class="fas fa-weight-hanging"></i> Gets Y% of total load:
                        </label>
                        <br> Select Y = <output id="load_percentage_for_first_x_percent_customers_sliderValue">50</output>
                        <input type="range" class="form-range form-control ms-2" value="50" min="10" max="90" step="10" id="load_percentage_for_first_x_percent_customers" name="load_percentage_for_first_x_percent_customers" oninput="updateSliderValue_load_percentage_for_first_x_percent_customers(this.value)">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="how_many_msgs_to_send">
                            <i class="fas fa-stopwatch"></i> No.of msgs (msgs x 4 = Load Duration in sec):
                        </label>
                        <input type="number" class="form-control" id="how_many_msgs_to_send" name="how_many_msgs_to_send" placeholder="Enter how_many_msgs_to_send" min="0" required value="9000" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputfile">
                            <i class="fas fa-file-alt"></i> Input File:
                        </label>
                        <select class="form-control" id="inputfile" name="inputfile" required>
                            <option value="">Select Input File</option>
                        </select>

                        <!-- <input type="text" class="form-control" id="inputfile" name="inputfile" placeholder="Enter input file" min="0" required value="rhel7-6tab_12rec.log"> -->
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="px-2 pt-4 row d-flex justify-content-center align-items-center" style="height: 100%;">
                    
                    <div class="col-md-4 text-center">
                        <button type="button" style="font-size: 13px;" class="btn btn-uptycs btn-sm btn-block" id="update_sim_params_button">
                            <i class="fas fa-sliders-h fa-sm"></i> Update Params in Sims 
                        </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" style="font-size: 13px;" class="btn btn-uptycs btn-sm btn-block" id="view_asset_dist_btn">
                            <i class="fas fa-eye fa-sm"></i> View Asset Distribution
                        </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" style="font-size: 13px;" class="btn btn-uptycs btn-sm btn-block" id="moreAboutInputFileBtn">
                            <i class="fas fa-file fa-sm"></i> More about inputfile
                        </button>
                    
                        <!-- Modal -->
                        <div class="modal fade" id="InputFiles_Modal" tabindex="-1" role="dialog" aria-labelledby="InputFiles_ModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg custom-modal-width mt-5 pt-5" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: rgba(105,16,216,255); color: rgba(226,208,249,255);">
                                        <h5 class="modal-title" id="InputFiles_ModalTitle">Input File Metadata</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="inputFileMetadataContent">Fetching metadata...</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-uptycs btn-sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Custom Styles -->
                    <style>
                        /* Center modal and set width to 70% */
                        .custom-modal-width {
                            max-width: 65%;
                            margin: auto;
                        }
                    </style>
                    
                    <small class="text-muted pt-3">Note: Asset distribution will be done only on the selected simulators. So please validate the selected simulators before proceeding. </small>

                </div>
            </form>
            
            <div class="" style="color: #2d0095" id="view_and_validate_asset_dist">
            </div>
        </div>
        <div class="col-md-6 border d-flex" id="simulator-grid" style="height: 500px;">
            <div class="row">
              <div class="card mb-2 mr-2 simulator_card online">
                <div class="loading-bar"></div>
                <button class="position-absolute btn btn-sm btn-info refresh-btn">
                  <i class="fa-solid fa-arrows-rotate fa-xs"></i>
                </button>
          
                <input class="position-absolute btn btn-sm checkbox_class btn-uptycs" type="checkbox" checked>
          
                <div class="text-center">
                  <span class="offline_status">
                    <i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i>
                    <span class="status-text">Offline</span>
                  </span>
                  <span class="online_status">
                    <i class="fa-solid fa-circle mx-1 pt-1" style="color: green;"></i>
                    <span class="status-text">Online</span>
                  </span>
                </div>
          
                <div class="pt-2 text-center">
                  <h6 class="card-title">
                    <i class="fa-solid fa-desktop fa-xs"></i> masabathularao-mac
                  </h6>
                  <div class="table-container"></div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Include Chart.js -->
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
</div>

<script src="{{ url_for('static', filename='js/simulator.js') }}"></script>

<script>
    function updateSliderValue_first_x_customer_percentage(value) {
        document.getElementById('first_x_customer_percentage_sliderValue').textContent = value;
    }
    function updateSliderValue_load_percentage_for_first_x_percent_customers(value) {
        document.getElementById('load_percentage_for_first_x_percent_customers_sliderValue').textContent = value;
    }

</script>

{% endblock content %}

