{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/simulator.css') }}">

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5 class="text-center">Start an Osquery Load</h5>
        </div>
        <div class="col-md-2 mb-2  text-center" id="active_count_id">
            (<span style="font-weight: 700;font-size: medium; color:rgb(0, 162, 0);">100</span>/<span style="font-weight: 900;font-size: small;">200</span>) Online
        </div>
        <div class="col-md-4 position-relative">
            <h6 class="text-left">View all simulator instances here</h6>
            <button type="button" id="simulator_refresh_button" class="btn btn-success position-absolute btn-sm" style="right: 30%;bottom:13%">
                Refresh <i class="fa-solid fa-arrows-rotate fa-xs"></i>
            </button>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-1 border"></div>
        <div class="col-md-5 border rounded" >            
            <form id="SimulatorForm" class="p-4 border rounded custom-forms" style="background-color: rgb(255, 255, 255);">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="stack">Stack:</label>
                        <select class="form-control req-for-view-report" id="stack_json_file" name="stack_json_file" required>
                            <option value="">Select Stack</option>
                            {% for stack in stack_json_options %}
                                <option value="{{ stack }}">{{ stack }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="loadname">Load Name:</label>
                        <select class="form-control req-for-view-report" id="loadname" name="loadname" required>
                            <option value="">Select Load Name</option>
                            {% for loadname in load_name_options %}
                                <option value="{{ loadname }}">{{ loadname }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message"></div>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="num_customers"> Number of Customers to send load from:</label>
                        <input type="number" class="form-control" id="num_customers" name="num_customers" value=100 placeholder="Enter Number of Customers" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="total_number_of_assets">Total Number of Assets to Enroll:</label>
                        <input type="number" class="form-control" id="total_number_of_assets" name="total_number_of_assets" value="10000" placeholder="Enter Total Number of Assets" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_x_customer_percentage">First X% of customers:</label>
                        <br> Select X = <output id="first_x_customer_percentage_sliderValue" >50</output>
                        <input type="range" class="form-range form-control ms-2"  value="50" min="10" max="90" step="10" id="first_x_customer_percentage"  name="first_x_customer_percentage"  oninput="updateSliderValue_first_x_customer_percentage(this.value)">
                        
                        <div class="error-message"></div>
                    </div>    
                    <div class="form-group col-md-6">
                        <label for="load_percentage_for_first_x_percent_customers">Gets Y% of total load: </label>
                        <!-- <input type="number" class="form-control" value="50" id="load_percentage_for_first_x_percent_customers" name="load_percentage_for_first_x_percent_customers" placeholder="Enter y" min="0" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"> -->
                        <br> Select Y = <output id="load_percentage_for_first_x_percent_customers_sliderValue" >50</output>
                        <input type="range" class="form-range form-control ms-2"  value="50" min="10" max="90" step="10" id="load_percentage_for_first_x_percent_customers"  name="load_percentage_for_first_x_percent_customers"  oninput="updateSliderValue_load_percentage_for_first_x_percent_customers(this.value)">
                        
                        <div class="error-message"></div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="endline">Endline(endline x2=Load Duration in sec):</label>
                        <input type="number" class="form-control" id="endline" name="endline" placeholder="Enter endline" min="0" required value=18000 oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div class="error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputfile">Inputfile:</label>
                        <input type="text" class="form-control" id="inputfile" name="inputfile" placeholder="Enter inputfile" min="0" required value="rhel7-6tab_12rec.log">
                        <div class="error-message"></div>
                    </div>
                </div>          
                
                <div >
                    <!-- <div class=" col-md-4 text-center">
                        <button type="button" id="ValidateSimulatorForm_button" class="btn btn-primary btn-block btn-sm">
                            Update params
                        </button>
                    </div> -->

                    
                    <div class="text-center" >
                        <button type="button" style="font-size:13px;" class="btn btn-primary col-md-3" id="ValidateSimulatorForm_button">
                            Update params 
                        </button>
                    </div>

                    
                    <!-- <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="">
                            Kill all assets
                        </button>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="">
                            Enroll Assets 
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="">
                            Start Load 
                        </button>
                    </div> -->
                </div>
            </form>
        </div>
        <div class="col-md-6 pr-5 border d-flex" id="simulator-grid">
            
            <div class="row border">

                <div class="card mb-2 mx-1 simulator_card online" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card offline" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card online" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card offline" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card online" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card offline" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="card mb-2 mx-1 simulator_card online" >
                    <span class="offline_status"><i class="fa-solid fa-solid fa-ban mx-1 pt-1" style="color: red;"></i><span class="status-text">Offline</span></span>
                    <span class="online_status"><i class="fa-solid fa-circle fa-sm mx-1 pt-2" style="color: green;"></i><span class="status-text">Online</span></span>

                    <div class="pt-2 text-center">
                      <h6 class="card-title">s1sim1a</h6>
                      <table style="font-size: 9px;" class="dataframe table table-bordered table-hover table-sm text-center custom-table simulator_card_table">
                        <thead><tr><th class="sortable" data-column="node_type" data-order="desc">parameter</th><th class="sortable" data-column="avg" data-order="desc">value</th></tr></thead><tbody>
                          <tr>
                            <td>airflowairflowairflowairflow</td>
                            <td>17.88</td>
                          </tr>
                          <tr>
                            <td>cloudquery</td>
                            <td>2.40</td>
                          </tr>
                          <tr>
                            <td>data</td>
                            <td>830.61</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/simulator.js') }}"></script>

<script>
    function updateSliderValue_first_x_customer_percentage(value) {
        document.getElementById('first_x_customer_percentage_sliderValue').textContent = value;
    }
    function updateSliderValue_load_percentage_for_first_x_percent_customers(value) {
        document.getElementById('load_percentage_for_first_x_percent_customers_sliderValue').textContent = value;
    }

</script>

{% endblock content %}

