{% extends "layout.html" %}
{% block content%}
    <h2>Collapsible Table</h2>

    <!-- Collapsible Table Section -->
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tableCollapse" aria-expanded="false" aria-controls="tableCollapse">
                    Toggle Table
                </button>
            </h5>
        </div>
        <div id="tableCollapse" class="collapse">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Node Type</th>
                            <th>Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>cloudquery</td>
                            <td>2.99</td>
                        </tr>
                        <tr>
                            <td>ep</td>
                            <td>0.70</td>
                        </tr>
                        <tr>
                            <td>memgraph</td>
                            <td>0.22</td>
                        </tr>
                        <tr>
                            <td>pg</td>
                            <td>13.91</td>
                        </tr>
                        <tr>
                            <td>process</td>
                            <td>32.23</td>
                        </tr>
                        <tr>
                            <td>SUM</td>
                            <td>50.05</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{%endblock content%}

