.error-message {
    color: red;
    font-size: 0.9em;
}

.notification {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    /* padding-top: 7px; */
    border-radius: 6px;
    color: #ffffff; 
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification button {
    padding: 0px 8px;
    border-radius: 3px;
    cursor: pointer; 
    font-size: 8px;
}

/* Hover effect for the button */
.notification button:hover {
    color: #474747; /* Darker background color on hover */
}

.notification.success {
    background-color: #3da736;
}
.notification.info {
    /* background-color: #3be5ff; */
    background-color: #42a8b0;

}
.notification.error {
    background-color: #c24a4a;
}
.notification.warning {
    background-color:  #d1774a;
}
.notification button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-left:20px;
    /* font-weight: bold; */
    cursor: pointer;
}
.remove_btn {
    cursor: pointer;
    /* margin-left: 10px; */
    border-radius: 2px;
    color: white;              
    font-size: 13px;      
    border: none;    
    background-color: #ff6e6e; 
    padding: 0px 5.5px;
    margin: 0px 3px; 
    transition: background-color 0.1s ease; 
    
}
.remove_btn:hover{
    background-color: rgb(255, 48, 48);
}
#fieldsContainer{
    /* background-color: #cbcbcb; */
    padding: 0px 15px;
}
.inside_fields{
    background-color: #f0f0f0;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.hidden-content {
    visibility: hidden;
}
#logWindow {
    max-height: 100vh;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
}

.code-window {
    font-family: 'Courier New', Courier, monospace ;
    font-size: 16px; 
    line-height: 1.5; 
    /* white-space: pre-wrap;  */
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.custom-table {
    /* border-radius: 4px; */
    overflow: hidden;
}
.custom-table thead {
    background-color: #585858;
    color: #ffffff;
}
.custom-table tbody tr:nth-child(odd) {
    background-color: #f8f9faef;
}
.custom-table tbody tr:hover  {
    background-color: #feffc1;
    transition: background-color 0.1s;
}

/* .custom-table th,
.custom-table td {
    max-width: 100px; 
    overflow-x: auto; 
    white-space: nowrap; 
    vertical-align: middle;
} */

/* Add a scrollbar for cells with overflow */
.custom-table td::-webkit-scrollbar {
    height: 5px;
}

.custom-table td::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.custom-table td::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.tab-cont {
    overflow-x: auto; /* Enables horizontal scrolling */
    width: 100%; /* Ensures the container takes the full width */
    margin-bottom: 15px; /* Adds some space below the table */
}
.tab-cont::-webkit-scrollbar {
    height: 5px;
}
.tab-cont::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.tab-cont::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#ReportWindow {
    /* max-height: 100vh;
    height: 970px;
    overflow-y: scroll; */
    border: 2px solid #000000;
    background-color: rgb(255, 255, 255);
    /* width: 129%;
    margin-left: -14% ; */
    /* padding-top: 70px; */
    padding:60px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.back-to-top {
    position: fixed;
    bottom: 60px;
    right: 45px;
    display: none;
    z-index: 1000;
}

#scroll_through_report_slowly{
    position: fixed;
    top: 60px;
    right: 45px;
    display: block;
    z-index: 1000;
}


.sortable {
    cursor: pointer;
}
.sortable::after {
    content: "\f0dc"; /* Default arrow */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    float: right;
    margin-left: 5px;
}
.sortable.asc::after {
    content: "\f0de"; /* Up arrow */
}
.sortable.desc::after {
    content: "\f0dd"; /* Down arrow */
}

.contents {
    max-height: 90vh;
    padding: 10px;
    overflow-x: auto;
    margin: 0px 10px;
    border: 1px solid #c5c5c5;
}

#contents_heading{
    background-color: #e2e2e2;
    /* padding: 10px 50px; */
    display: block;
    margin-bottom: 20px;
    color: #000000;
    padding: 10px;
}