.error-message {
    color: red;
    font-size: 0.9em;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    padding-top: 7px;
    border-radius: 6px;
    color: #ffffff; 
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification.success {
    background-color: #3da736;
}
.notification.info {
    /* background-color: #3be5ff; */
    background-color: #42a8b0;

}
.notification.error {
    background-color: #c24a4a;
}
.notification.warning {
    background-color:  #d1774a;
}
.notification button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-left:20px;
    /* font-weight: bold; */
    cursor: pointer;
}
.remove_btn {
    cursor: pointer;
    /* margin-left: 10px; */
    border-radius: 2px;
    color: white;              
    font-size: 16px;      
    border: none;    
    background-color: #ff6e6e; 
    padding: 0px 6px;
    margin: 0px 0px; 
    transition: background-color 0.1s ease; 
    
}
.remove_btn:hover{
    background-color: rgb(255, 48, 48);
}
#fieldsContainer{
    /* background-color: #cbcbcb; */
    padding: 0px 15px;
}
.inside_fields{
    background-color: #f0f0f0;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.hidden-content {
    visibility: hidden;
}
#logWindow {
    max-height: 100vh;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
}

.code-window {
    font-family: 'Courier New', Courier, monospace ;
    font-size: 16px; 
    line-height: 1.5; 
    /* white-space: pre-wrap;  */
}

.img-container {
    width: 115%;
    margin-left: -8% ;
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}


/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.custom-table {
    border-radius: 4px;
    overflow: hidden;
}
.custom-table thead {
    background-color: #585858;
    color: #ffffff;
}
.custom-table tbody tr:nth-child(odd) {
    background-color: #f8f9faef;
}
.custom-table tbody tr:hover  {
    background-color: #feffc1;
    transition: background-color 0.1s;
}

.custom-table th,
.custom-table td {
    max-width: 100px; /* Set max width for cells */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
    vertical-align: middle;
}

/* Add a scrollbar for cells with overflow */
.custom-table td::-webkit-scrollbar {
    height: 5px;
}

.custom-table td::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.custom-table td::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.tab-cont {
    overflow-x: auto; /* Enables horizontal scrolling */
    width: 100%; /* Ensures the container takes the full width */
    margin-bottom: 15px; /* Adds some space below the table */
}
.tab-cont::-webkit-scrollbar {
    height: 5px;
}
.tab-cont::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.tab-cont::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#ReportWindow {
    /* max-height: 100vh;
    height: 970px;
    overflow-y: scroll; */
    border: 3px solid #000000;
    background-color: rgb(255, 255, 255);
    width: 120%;
    margin-left: -10% ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.back-to-top {
    position: fixed;
    bottom: 60px;
    right: 100px;
    display: none;
    /* z-index: 1000; */
}